.Create-Card {
  width: 320px;
  height: 426px;
  border-radius: 12px;
  background: #090909;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Create-Button {
  font-weight: 700;
  font-size: 16px;
  padding: 10px 40px;
  background: #090909;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
}

.Create-Button:hover {
  cursor: pointer;
  opacity: 0.6;
}
